


.about-section{
    background-color: rgb(22, 12, 40);
    margin: auto;
    width: 100vw;
    
    color: white;

	position:relative;
	padding:120px 0px;
}
.about-section img{
    width: 60rem;
    height: 25rem;
}

.combinedbox {
	display: flex ;
	justify-content: center;
	align-items: center;
    /* margin: 1rem 1rem; */
}

.combinedbox .titlebox{
	position: relative;
	top: -3rem;
    margin-right:5rem;

}
.combinedbox .titlebox div {
	
	margin: 1.2rem;
	font-size: 1.4rem;
}
.combinedbox .titlebox div p {
	
	color: rgb(12, 117, 255);
	font-weight: 500;
	font-size: 1.7rem;
}
.combinedbox .titlebox  .text {
	font-size:1.05rem;
}

.about-section .btn-style-three {
    top: 2rem;
	left: 1.2rem;
    position: relative;
    /* line-height: 24px; */
    color: hsl(0, 0%, 15%);
    font-size: 18px;
    font-weight: 700;
    background: none;
    /* display: inline-block; */
    padding: 11px 40px;
    background-color: #ffffff;
    /* text-transform: capitalize; */
    border: 2px solid #ffffff;
    font-family: 'Arimo', sans-serif;
    
}
