@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; 
    box-sizing: border-box;
    
    /* background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% ); */
}


html{
  font-size: 1vw
}
a {
    text-decoration: none;
    color: black;
  }
 .container12{
  margin: auto;
  width: 83vw;
  display: flex;
  justify-content: space-between;

  align-items: center;
 }
  
  .navbar {
   height: 5rem;
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    /* padding: 1rem 1.15rem; */
    border-bottom: 1px solid #eceef3;
   
  }
  .navbar-header {
  
    display: flex;
 
    align-items: center;
    justify-content: center;
  }
  .navbar-menu{
  
    margin-left: 2rem ;
  }
  
  .navbar-nav {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav  li a {
    font-size: 1.1rem;
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  
   .navbar-nav  li  a:hover {
    color: #66f;
  }
   .navbar-header   span {

    color: #66f;
  }
  .navbar-header h4{
    font-weight: 500;
    margin-top: 5px;
    font-size: 1.3rem;
  }
  
  

  /* logedicon jsx style */
  .logediconbox{
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .logediconbox img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0%;
    margin-right: 0.8rem;
  }
  .logediconbox p{
    
    font-size: 1.03rem;
  }
  .logedcontainer .dropdown-menu{
  margin: 0 1rem;
 
    height: 10rem;
    background-color: rgb(42, 41, 43);
    color: white;
  }
  .logedcontainer .dropdown-menu li{
    margin: 0.7rem auto;
  }
  .logedcontainer .dropdown-menu .dropdown-item:hover{
      background-color: black;
  }

  .logedcontainer .dropdown-menu a{
    color: #eceef3;
  }



@media screen and (max-width: 900px){
  .navbar {
    height: 9rem;  
   }
   .navbar-nav  li a {
    font-size: 1.6rem;
    margin-top: 0.5rem;
 
  }
  .navbar-header h4{
 
    font-size: 1.9rem;

  }
  
}

@media screen and (max-width: 700px){
  .navbar {
    height: 11rem; 
   
   }
   .container12{
    width: 90vw;
   }
   .navbar-nav  li a {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
 
  }
  .navbar-header h4{
 
    font-size: 2.4rem;
    margin-right: 1rem;

  }
  
}
