
.section3container{
    width: 100vw;
    height: 60vh;
    background:   url("/section3.jpeg")  no-repeat center center/cover;
    
    margin-bottom: 2rem;
}


.sectionBox3{
    
    width: 80vw;
    /* margin: auto; */
    /* margin: 10rem auto; */
    
    display: flex;

}

.sectionBox3 .healthTitle{
    position: relative;
    top: 8rem;
    left: 10rem;
width: 35vw ;
color: white;

}
.sectionBox3 .healthTitle p{
    margin-top: 2rem;
   font-size: 1.4rem;

}
.sectionBox3 .heathname1{
    font-size: 4rem;
    width: 30vw;
    
}
.sectionBox3 .heathname2 {
    font-size: 5rem;
    width: 45vw;
    overflow: hidden; 
 
  white-space: nowrap; 
  letter-spacing: .11em; 
  border-right: 5px solid rgb(255, 255, 255);
  animation: typewriter 3s  steps(44) 0s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite;


  
  
  

}
.sectionBox3 .heathname2   span {

    color: rgb(94, 94, 255);
  }
 

  @keyframes typewriter{
    from{width: 0;}
    to{width: 100%;border-right: 0px solid transparent; }
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  
  @media screen and (width:900px){
    
  }