.sectionbigBox{
    width: 100vw;
    height: 40rem;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    
}

.sectionBox1{
    
    
    width: 80vw;

    margin: auto;
    /* margin: 15rem auto; */
    
    display: flex;
    

}

.sectionBox1 .healthTitle{
    position: relative;
    top: 15rem;
    /* left: -10rem; */
width: 35rem ;
color: aliceblue;

}
.sectionBox1 .healthTitle p{
    margin-top: 1rem;
   font-size: 1rem;

}
.sectionBox1 .heathname1{
    font-size: 0.8rem;
    width: 30rem;
}
.sectionBox1 .heathname2 {
    font-size: 3rem;
    width: 40rem;
}
.sectionBox1 .heathname2   span {

    color: rgb(94, 94, 255);
  }
  .sectionBox1 .heathimgsection{
    width: 40rem;
  }
  
.sectionBox1 .heathimgsection .img1{
    width: 30rem;
    height: 30rem;
    position: relative;
     top: 5rem;
    left: -2rem; 
    border-radius: 50%;
    z-index: 50;
}
.sectionBox1 .heathimgsection .img2{
    /* visibility: hidden; */
    width: 30rem;
    height: 30rem;
    position: relative;
     top: 5rem;
    left: 10rem; 
    border-radius: 50%;
    z-index: 50;
}