
.sectionBox1{
    
    width: 85vw;
    margin: auto;
    margin: 10rem auto;
    
    display: flex;

}

.sectionBox1 .healthTitle{
    position: relative;
    top: 5rem;
    left: 3rem;
width: 35vw ;

}
.sectionBox1 .healthTitle p{
    margin-top: 2rem;
   font-size: 1.4rem;

}
.sectionBox1 .heathname1{
    font-size: 4rem;
    width: 30vw;
}
.sectionBox1 .heathname2 {
    font-size: 5rem;
    width: 30vw;
}
.sectionBox1 .heathname2   span {

    color: rgb(94, 94, 255);
  }

  .sectionBox1 .heathimgsection{
 

}
.sectionBox1 .heathimgsection .img1{
    width: 32rem;
    height: 32rem;
    position: relative;
    top: -5rem;
    left: 5rem;
    border-radius: 50%;
    z-index: 50;
}
.sectionBox1 .heathimgsection .img2{
    width: 22rem;
    height: 22rem;
    position: relative;
    top: 5rem;
    left: 0rem;
    border-radius: 50%;
    z-index: -1;
}